---
import Hero from '../components/Hero.astro';
import Ecosystem from '../components/Ecosystem.astro';
import Custody from '../components/Custody.astro';
import Risk from '../components/Risk.astro';
import Global from '../components/Global.astro';
import Intermediaries from '../components/Intermediaries.astro';
import Footer from '../components/Footer.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout class="max-w-fit">
	<main class="flex flex-col mx-3 lg:mx-[143px] border-solid border-gray-500 border-l-[0.2px] border-r-[0.2px]">
		<Hero />
		<Ecosystem />
		<Custody />
		<Risk />
		<Global />
		
	</main>
	<Intermediaries />
	<Footer />
</Layout>
