---
import Card__ecosystem from "./card__ecosystem.astro";
import video from "../assets/world.mp4";
---

<section
    id="ecosystem"
    class="flex flex-col-reverse lg:flex-row items-start lg:items-center justify-center h-auto md:h-dvh  md:min-h-dvh w-full border-solid border-gray-500 border-t-[0.2px] lg:pt-10 gap-4 lg:gap-16"
>
    <article
        class="w-full lg:w-auto h-full flex flex-col items-center justify-center gap-4"
    >
        <Card__ecosystem 
            title="Advisory"
            description="Provides institutional‑grade consulting on bullion programs, operational design, and governance frameworks for intermediaries and their clients"
            video={video}
        />
        <Card__ecosystem
            title="Vault"
            description="Coordinates custody with independent approved depositories, ensuring account‑level segregation, no commingling, and clear ownership at all times"
            video={video}
        />
        <Card__ecosystem
            title="Technology"
            description="Delivers the infrastructure that routes instructions, reconciles positions, and provides reporting, without holding client funds or assets"
            video={video}
        />
        <Card__ecosystem
            title="Proprietary Trading"
            description="Executes market activity strictly with WiseGold capital, supporting liquidity and discipline without using client assets or acting as a retail broker"
            video={video}
        />
    </article>
    <article
        class="w-full lg:w-2/3 h-auto pt-3 flex flex-col items-center lg:items-right px-4 lg:pl-0 justify-end"
    >
        <h2
            class="text-4xl md:text-5xl font-medium text-white-700 uppercase font-bebas-neue leading-tight lg:leading-14 mt-2 text-left lg:text-right w-full"
        >
            Comprehensive Bullion<br />
            <span class="text-accent">Ecosystem Architecture</span>
        </h2>
        <p
            class="text-gray-500 lg:mt-3 text-sm md:text-base text-left lg:text-right w-full"
        >
            A unified ecosystem encompassing advisory, independent vault
            coordination, technology, and proprietary trading. Engineered
            exclusively for capital preservation and institutional continuity
        </p>
    </article>
</section>
